#background-image{
    background-image: url("../../../images/Herro\ Banner\ \(1\).svg" );
    background-repeat: no-repeat;
    /* background-position:center; */
    background-size: cover;
    height: 850px;
} 